#container{
    margin: 15px;
    padding: 15px;
    background-color: aquamarine;
    width: 18%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project{
    background-color: beige;
    text-align: center;
}

#project:hover{
    text-align: center;
    background-color: rgb(66, 66, 56);
}

#containerAffichage{
    padding: 15px;
    margin: 15px;
    background-color: yellow;
    width: 70%;

}

.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}